<app-nav-bar></app-nav-bar>
<app-image-carrousel></app-image-carrousel>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-10 p-4">
            <h1 class="display-3">Productos</h1>
            <hr class="my-4">
          </div>
        </div>
        <div class="card-deck pb-5 card-imagen">
            <div class="card">
              <img src="https://www.eluniversal.com.mx/sites/default/files/2020/02/13/xbox-one-jordan.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">$20.00.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-outline-success btn-block" onclick="window.location.href = './comprar.html';">Comprar</button>
            </div>
            </div>
            <div class="card">
              <img src="https://www.dragonsports.eu/513571-verylarge_default/bate-de-beisbol.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">$20.00.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-outline-success btn-block" onclick="window.location.href = './comprar.html';">Comprar</button>
            </div>
            </div>
            <div class="card">
              <img src="https://www.sony.es/image/4dcdfc5416b7185bb72d9d1baa260053?fmt=pjpeg&bgcolor=FFFFFF&bgc=FFFFFF&wid=2515&hei=1320" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text">$20.00.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-outline-success btn-block" onclick="window.location.href = './comprar.html';">Comprar</button>

            </div>
            </div>
          </div>

          <div class="card-deck pb-5 card-imagen">
            <div class="card">
              <img src="https://pioneer-mexico.com.mx/images/list_imagen_id_list_imagen_id_controladores.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">$20.00.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-outline-success btn-block" onclick="window.location.href = './comprar.html';">Comprar</button>
            </div>
            </div>
            <div class="card">
              <img src="https://cdn.pocket-lint.com/r/s/1200x/assets/images/140007-games-review-nintendo-switch-review-image1-lp6zy9awm0.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">$20.00.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-outline-success btn-block" onclick="window.location.href = './comprar.html';">Comprar</button>
            </div>
            </div>
            <div class="card">
              <img src="https://images-na.ssl-images-amazon.com/images/I/81EyYSyO8lL._AC_SX466_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text">$20.00.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-outline-success btn-block" onclick="window.location.href = './comprar.html';">Comprar</button>
            </div>
            </div>
          </div>

          <div class="card-deck pb-5 card-imagen">
            <div class="card">
              <img src="https://cdn11.bigcommerce.com/s-a47hlxhj54/images/stencil/1280x1280/products/456/1692/7Y0A4641-web__54125.1497382552.jpg?c=2&imbypass=on" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">$20.00.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-outline-success btn-block" onclick="window.location.href = './comprar.html';">Comprar</button>
              </div>
            </div>
            <div class="card">
                <img src="https://images-na.ssl-images-amazon.com/images/I/71iMQzscF8S._SL1500_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">$20.00.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-outline-success btn-block" onclick="window.location.href = './comprar.html';">Comprar</button>
            </div>
            </div>
            <div class="card">
              <img src="https://www.baustore.ad/1889-large_default/lampara-de-lava-astro.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text">$20.00.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-outline-success btn-block" onclick="window.location.href = './comprar.html';">Comprar</button>
            </div>
            </div>
          </div>

      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pb-3">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
  <app-footer></app-footer>

